<hr><br>

<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "content-container">
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, id: :project_title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :preview %>
      <%= form.text_field :preview, id: :project_preview, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :summary %>
      <%= form.text_area :summary, id: :project_summary, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :qualification %>
      <%= form.text_area :qualification, id: :project_qualification, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :work %>
      <%= form.text_area :work, id: :project_work, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :accomodation %>
      <%= form.text_area :accomodation, id: :project_accomodation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :costs %>
      <%= form.text_area :costs, id: :project_costs, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_area :address, id: :project_address, class: "form-control", rows: 7 %>
    </div>

    <div class="form-group">
      <%= form.label :tel %>
      <%= form.text_field :tel, id: :project_tel %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, id: :project_email %>
    </div>

    <div class="form-group">
      <%= form.label :webpage %>
      <%= form.text_field :webpage, id: :project_webpage %>
    </div>

    <div class="form-group">
      <%= form.label :min_weeks %>
      <%= form.number_field :min_weeks, id: :project_min_weeks %>
    </div>

    <div class="form-group">
      <%= form.label :costs_week %>
      <%= form.number_field :costs_week, id: :project_costs_week %>
    </div>

    <div class="form-group">
      <%= form.label :accom_standard %>
      <%= form.text_field :accom_standard, id: :project_accom_standard %>
    </div>

    <div class="form-group">
      <%= form.label :lat %>
      <%= form.text_field :lat, id: :project_lat %>
    </div>

    <div class="form-group">
      <%= form.label :lgt %>
      <%= form.text_field :lgt, id: :project_lgt %>
    </div>

    <div class="form-group">
      <%= form.label :images %>
      <%= form.text_field :images, id: :project_images, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit current_action_label, class: "btn btn-warning" %>
    </div>

  </div>
  <br>

<% end %>
<%= link_to 'Zurück', url_for(:back), class: "btn btn-warning" %>