<div class="col-lg-3 col-md-4 col-sm-6" style="margin-bottom: 1rem">
  <div class="card projects-card">
    <div class="card-block">
      <%= link_to project do %>
        <%= image_tag project.images.first,
            width: '100%', height: 'auto', style: "margin-bottom: 1rem" %>
        <h5><%= project.title %></h5>
        <strong><%= project.preview %></strong>
      <% end %>
      
      <div>
        <%= admin_links(project, edit_project_path(project)) %>
      </div>
    </div>
  </div>
</div>
