<div><%= select_headline_helper("animals", "Tiere/Landschaftsformen") %></div>
<div><%= select_headline_helper("terrains", "Terrains") %></div>
<div><%= select_headline_helper("regions", "Regionen") %></div>
<div><%= select_headline_helper("countries", "Länder") %></div>
<div><%= select_headline_helper("tasks", "Arbeitsmerkmale") %></div>
<div><%= select_headline_helper("accoms", "Unterbringungsmerkmale") %></div>
<div><%= select_headline_helper("accom_standards", "Unterbringungsstandard") %></div>

<div><%= min_weeks_selection_helper %></div>
<div><%= costs_week_selection_helper %></div>

<div><%= no_project_found_helper %></div>