<div><%= terrain_selection_helper %></div>
<div><%= animal_selection_helper %></div>
<div><%= region_selection_helper %></div>
<div><%= country_selection_helper %></div>

<div><%= animals_selection_helper %></div>
<div><%= terrains_selection_helper %></div>
<div><%= regions_selection_helper %></div>
<div><%= countries_selection_helper %></div>
<div><%= tasks_selection_helper %></div>
<div><%= accoms_selection_helper %></div>
<div><%= accom_stand_selection_helper %></div>
<div><%= min_weeks_selection_helper %></div>
<div><%= costs_week_selection_helper %></div>

<div><%= no_projekt_found_helper %></div>
