<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Preview</th>
      <th>Summary</th>
      <th>Qualification</th>
      <th>Work</th>
      <th>Accomodation</th>
      <th>Costs</th>
      <th>Address</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Webpage</th>
      <th>Min weeks</th>
      <th>Costs week</th>
      <th>Accom standard</th>
      <th>Lat</th>
      <th>Lgt</th>
      <th>Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.preview %></td>
        <td><%= project.summary %></td>
        <td><%= project.qualification %></td>
        <td><%= project.work %></td>
        <td><%= project.accomodation %></td>
        <td><%= project.costs %></td>
        <td><%= project.address %></td>
        <td><%= project.tel %></td>
        <td><%= project.email %></td>
        <td><%= project.webpage %></td>
        <td><%= project.min_weeks %></td>
        <td><%= project.costs_week %></td>
        <td><%= project.accom_standard %></td>
        <td><%= project.lat %></td>
        <td><%= project.lgt %></td>
        <td><%= project.images %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
