<p id="notice"><%= notice %></p>

<h2><center><strong><%= @project.title %></strong></center></h2>
<h4><center><%= @project.preview %></center></h4>

<hr>

<%= render 'map_and_slideshow' %>

<hr><br>

<%= render 'show-card-row', title1: "Kurzbeschreibung",
                            content1: @project.summary,
                            title2: "Arbeitsaufgaben",
                            content2: @project.work
                            %>

<%= render 'show-card-row', title1: "Kosten",
                            content1: @project.costs,
                            title2: "Unterbringung",
                            content2: @project.accomodation
                            %>

<%= render 'show-card-contact' %>

<%= admin_links(@project, edit_project_path(@project)) %>
