<p id="notice"><%= notice %></p>

<h2><center><%= @project.title %></center></h2>
<h4><center><%= @project.preview %></center></h4>

<hr>

<div class="row">
  <div class="col-md-6">
    <% if @project.lat? && @project.lgt? %>
      <iframe width="400" height=300 frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC93bcY6JbfNwW_u0LROOoqSobojAllko8
        &q=<%= @project.lat %>,<%= @project.lgt %>&center=<%= @project.lat.to_i+6 %>,<%= @project.lgt %>&zoom=4">
      </iframe>
    <% else %>
      <iframe width="400" height=300 frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC93bcY6JbfNwW_u0LROOoqSobojAllko8
        &q=<%= @project.addresse.gsub(/\s/, '+') %>&zoom=4">
      </iframe>
    <% end %>
  </div>
  
  <div class="col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <% @project.images.each do |image| %>
          <% if image == @project.images.first %>
            <div class="item active">
              <%= image_tag(image,
                            style: "max-width: 500px; max-height: 300px;
                                    display: block; margin: auto"
                            )
              %>
            </div>
          <% else %>
            <div class="item">
              <%= image_tag(image,
                            style: "max-width: 500px; max-height: 300px;
                                    display: block; margin: auto"
                            )
              %>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if @project.images.count > 1 %>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      <% end %>
    </div>
  </div>
</div>

<hr><br>

<%= render 'show-card-row', title1: "Kurzbeschreibung",
                            content1: @project.summary,
                            title2: "Arbeitsaufgaben",
                            content2: @project.work
                            %>

<%= render 'show-card-row', title1: "Kosten",
                            content1: @project.costs,
                            title2: "Unterbringung",
                            content2: @project.accomodation
                            %>

<%= render 'show-card-contact' %>

<%= link_to 'Zurück', url_for(:back), class:'btn btn-sm btn-warning' %>
<%= admin_links(@project, edit_project_path(@project)) %>
