<p id="notice"><%= notice %></p>

<h2><center><strong><%= @project.title %></strong></center></h2>
<h4><center><%= @project.preview %></center></h4>

<hr>

<%= render 'map_and_slideshow' %>

<hr><br>

<div class="row">
	<%= render 'show-card', title: "Kurzbeschreibung", content: @project.summary %>
  <%= render 'show-card', title: "Arbeitsaufgaben", content: @project.work %>
</div>

<div class="row">
	<%= render 'show-card', title: "Kosten", content: @project.costs %>
  <%= render 'show-card', title: "Unterbringung", content: @project.accomodation %>
</div>

<%= render 'show-card-contact' %>

<%= link_button_helper(@project, edit_project_path(@project)) %>