<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Preview:</strong>
  <%= @project.preview %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @project.qualification %>
</p>

<p>
  <strong>Work:</strong>
  <%= @project.work %>
</p>

<p>
  <strong>Accomodation:</strong>
  <%= @project.accomodation %>
</p>

<p>
  <strong>Costs:</strong>
  <%= @project.costs %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @project.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project.email %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @project.webpage %>
</p>

<p>
  <strong>Min weeks:</strong>
  <%= @project.min_weeks %>
</p>

<p>
  <strong>Costs week:</strong>
  <%= @project.costs_week %>
</p>

<p>
  <strong>Accom standard:</strong>
  <%= @project.accom_standard %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @project.lat %>
</p>

<p>
  <strong>Lgt:</strong>
  <%= @project.lgt %>
</p>

<p>
  <strong>Images:</strong>
  <%= @project.images %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
