<p id="notice"><%= notice %></p>

<h1>Volun Texts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volun_texts.each do |volun_text| %>
      <tr>
        <td><%= volun_text.title %></td>
        <td><%= volun_text.body %></td>
        <td><%= volun_text.slug %></td>
        <td><%= link_to 'Show', volun_text %></td>
        <td><%= link_to 'Edit', edit_volun_text_path(volun_text) %></td>
        <td><%= link_to 'Destroy', volun_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volun Text', new_volun_text_path %>
