<p id="notice"><%= notice %></p>

<div class="card show-card">

	<%= render 'volun_text_nav' %>

	<div class="content-container">
		<br>
		<h3><strong>
  		Volunteering - <%= @volun_text.title %>
  		<%= link_to 'Neuer Artikel', new_volun_text_path, class: "btn btn-warning" %>
		</strong></h3>
		<br>
		<strong>
	  	<%= simple_format @volun_text.body %>
		</strong>
	</div>

</div>

<%= link_button_helper(@volun_text, edit_volun_text_path(@volun_text)) %>