<nav class="navbar navbar-expand-lg left_navbar navbar-light">
	<span class="navbar-toggler" data-toggle="collapse" data-target="#navbarLeft" aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
		<%= link_to "Projekte filtern", '', class: "btn btn-designed btn-filter dropdown-toggle" %>
	</span>

	<div class="collapse navbar-collapse" id="navbarLeft">
		<div class="content-container">
			<span class="navitem-large">
				<h3>Projekte filtern</h3>
				<hr>
			</span>
			<p><%= link_to "Tiere an Land", projects_path('', terrain: 'Land'), class: "btn btn-designed btn-filter" %></p>
			<p><%= link_to "Tiere zu Wasser", '', class: "btn btn-designed btn-filter" %></p>
			<p><%= link_to "Tiere in der Luft", '', class: "btn btn-designed btn-filter" %></p>
			<p><%= link_to "Landschaftsprojekte", '', class: "btn btn-designed btn-filter" %></p>
			<span class="navitem-large">
				<hr>
				<p><%= link_to "mehr Filter", '', class: "btn btn-designed btn-filter dropdown-toggle" %></p>
			</span>
		</div>
	</div>
</nav>
