<nav class="navbar navbar-expand-lg left_navbar navbar-light">
	<span class="navbar-toggler" data-toggle="collapse" data-target="#navbarLeft" aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
		<%= link_to "Projekte filtern", '', class: "btn btn-designed btn-filter dropdown-toggle" %>
	</span>

	<div class="collapse navbar-collapse" id="navbarLeft">
		<div class="content-container">
			<span class="navitem-large">
				<h3>Projekte filtern</h3>
				<hr>
			</span>
			<p><%= filter_button_helper("alle Projekte", nil) %></p>
			<p><%= filter_button_helper("Tiere an Land", "Land") %></p>
			<p><%= filter_button_helper("Tiere zu Wasser", "Wasser") %></p>
			<p><%= filter_button_helper("Tiere in der Luft", "Luft") %></p>
			<p><%= filter_button_helper("Landschaftsprojekte", "Landschaft") %></p>
			<span class="navitem-large">
				<hr>
				<p><%= link_to "mehr Filter", '', class: "btn btn-designed btn-filter dropdown-toggle" %></p>
			</span>
		</div>
	</div>
</nav>
