<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109141164-1"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'facebook_sdk', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fb-root" data-turbolinks-permanent></div>

    <%= render "layouts/top_navbar" %>

    <div class="content-container">
      
      <p id="notice"><%= notice %></p>

    	<%= yield %>
  	
    </div>
    <script src="//platform.twitter.com/widgets.js"></script>
  </body>
</html>
